.project-video-frame {
  border: none;
  height: 24vw;
  width: 42vw;
  -webkit-animation: fadeIn 8s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadeIn 8s; /* Firefox < 16 */
    -ms-animation: fadeIn 8s; /* Internet Explorer */
     -o-animation: fadeIn 8s; /* Opera < 12.1 */
        animation: fadeIn 8s;
}

#showreel-title {
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 150px 100px 0px 100px;
  -webkit-animation: fadeIn 3s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadeIn 3s; /* Firefox < 16 */
    -ms-animation: fadeIn 3s; /* Internet Explorer */
     -o-animation: fadeIn 3s; /* Opera < 12.1 */
        animation: fadeIn 3s;
}
