#navbar {
  height: 50px;
}

#navbar-logo {
  display: inline;
  float: right;
  height: 100px;
  margin: 30px 30px 10px 20px;
  position: relative;
  border-radius: 10em 10em 10em 10em;
  border: solid 5px rgba(181, 224, 242, 0.1);
}

ul#navbar-list {
  color: rgba(181, 224, 242, 1);
  font-weight: 500;
  font-size: 25px;
  float: right;
  letter-spacing: 3px;
  list-style-type: none;
  margin: 60px 20px 0px 20px;
  padding: 0;
  position: relative;
}

li#navbar-list-item-first {
  display: inline;
  margin-right: 25px;
}

#navbar-first-Link {
  color: rgba(181, 224, 242, 1);
  text-decoration: none;
}

li#navbar-list-item-middle {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

#navbar-middle-Link {
  color: rgba(181, 224, 242, 1);
  text-decoration: none;
}

li#navbar-list-item-last {
  display: inline;
  margin-left: 25px;
}

#navbar-last-Link {
  color: rgba(181, 224, 242, 1);
  text-decoration: none;
}
