* {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: rgba(88,78,82,1);
  height: 350px;
  padding: 20px;
  color: rgba(249,239,138,1);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
